<p id="notice"><%= notice %></p>

<h1 class="text-center">Monsters</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :name %></th>
      <th><%= sort_link @q, :power %></th>
      <th><%= sort_link @q, :sub_class, 'Type' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.power %></td>
        <td><%= monster.sub_class %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
