<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Monsters:</strong>
  <ul>
    <% @team.monsters.each do |monster| %>
      <li><%= monster.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_monster_team_path(@team) %> |
<%= link_to 'Back', monster_teams_path %>
