<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Rubymon', root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to 'Monsters', monsters_path %></li>
      <li><%= link_to 'Monster Teams', monster_teams_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
